/* colors.scss */

$primary-color: #000;
$secondary-color: #fff;
// $tertiary-color: #fff;
// $secondary-dark: #fff;
// $secondary-light: #fff;

$success-color: #9C9C9C;
$warning-color: #D0D0D0;
$alert-color: #BBB7B0;
// $all-clear: ;
// $error-failure-warning: #ad1212;
// $general-info: ;
// $success: #136020;