html, body { 
    // Styles here
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@media only screen and (min-width: 992px){
    .top-navbar{ // navbar class
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    body{
        padding-top:65px;
    }
    .showLogo .navbar-brand, .hideLogo .white-logo {
        opacity: 1;
        transition: all 1s;
    }
    .hideLogo .navbar-brand, .showLogo .white-logo {
        opacity: 0;
        transition: all 1s;
    }

    .white-logo{
        opacity: 0;
        top: 0 !important;
        position: relative !important;
    }
    .white-logo img{
        height: 50px;

    }
}
h3{font-size: 1.35em;}

pre {
	code {
		display: block;
		white-space: pre-wrap;
		max-width: 90%;
		word-break: break-word;
	}
}

.clearfix {clear:both;}
.no-padding{ padding: 0; margin-right: auto; margin-left: auto;}
.no-right-gutter{ padding-right: 0 }
.no-left-gutter{ padding-left: 0 }

//Restricts containers to smallest screen size for each screen break
// .container { max-width: 375px; }
// @include sm-screen { .container { max-width: 576px; } }
// @include md-screen { .container { max-width: 768px; } }
// @include lg-screen { .container { max-width: 992px; } }
// @include xl-screen { .container { max-width: 1200px;} }

/* Header */
.top-navbar{
    padding-top: 0;
    padding-bottom: 0;
    height: 65px;
    .navbar-brand-desktop{
        position: absolute;
        top: 30px;
    }
    li.nav-item a.nav-link{
        padding-top: 16px;
        padding-right: 24px;
        padding-left: 24px;
        // font-family: $museo-sans-rounded;
        font-size: 16.67px;
        line-height: 19.17px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        display: block;
        white-space: nowrap;
    }
    li.nav-item{
        margin-left: .25rem;
        margin-right: .25rem;
    }  
    .navbar-toggler{
        right: 1rem;
    }  
    .navbar-toggler-icon{
        background-image: none;
        width: auto;
        text-transform: uppercase;
        height: auto;
    }
    }
.navbar-brand{
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
     @include md-screen {
         text-align: left;
         width: unset;
         margin: 0 16px 0 0;
    }
     @include lg-screen { 
        text-align: left;
        width: unset;
        margin: 0 16px 0 0;
     }
     @include xl-screen { 
        text-align: left;
        width: unset;
        margin: 0 16px 0 0;
     }
     img {
         max-height: 160px;
     }
    }
.navbar-main{
    padding: 0;
    .navbar-collapse {
        @include md-screen { 
            margin-top: 100px;
            margin-bottom: 40px;
            transition: none;
         }
        @include lg-screen { 
            margin-top: 40px;
            margin-bottom: 40px;
         }
         // XLarge devices
         @include xl-screen { 
            margin-top: 40px;
            margin-bottom: 40px;
         }
    }
}

/* Custom Icons */

.marker-icon{
    width: 22px;
    height: 32px;
    font-size: 2rem;
    display: block;
    margin-right: 10px;
}
.chevron-right{
    width: 10px;
    height: 15px;
    background: url('../../img/@1x/chevron-right.png');
    display: inline-block;
    margin-left: 10px;
}

.float-left{ float: left }

.navbar-nav{ 
    .nav-item{ 
        .nav-link{ 
            padding-right: 15px;
        } 
    }
    li.nav-item.dropdown{
        list-style: none;
        cursor: pointer;
    } 
}

.custom-button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    // padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .70rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    @media (prefers-reduced-motion:reduce) {
            transition: none
    }
    
    &:hover {
        text-decoration: none
    }
    
    &.disabled,
    fieldset:disabled {
        pointer-events: none
    }
}


.slideshow-slide{
    height: 505px;
    &-overlay{
        position: absolute;
        bottom: 0;
        padding: 0 0 45px 40px;
        width: 400px;
        &__heading{
            font-size: 33.33px;
            font-weight: 500;
            line-height: 40px;
            padding: 0 60px 0 0;
        }
        &__button{
            @extend .custom-button;
            font-weight: bold;
            font-size: 1.15em;
            font-weight: 700;
            line-height: 40px;
            padding-top: 13px;
            height: 68px;
            width: 300px;
        }
    }
}
.section-basics{
    text-align: center;
    padding: 35px 22px;
}
.section-heading{
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
    display: block;
}
.section-text{
    line-height: 22px;
    text-align: left;
    padding: 0;
    margin: 0 0 20px 0;
}
.section-button{
    @extend .custom-button;
    font-weight: bold;
    font-size: 1.15em;
    font-weight: 700;
    line-height: 16px;
    padding: 10px 10px;
}
.section-link{
    @extend .custom-button;
    font-weight:bold;
    font-size:1em;
    line-height:16px;
    padding: 10px;
}
.foot-text-content{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 20px;
    display: block;
}

.tile_welcome{
    padding: 20px 22px; 
    text-align: center;
    .tile_welcome__heading{
        font-size: 25px;
        font-weight: bold;
        line-height: 31.67px;
        margin-bottom: 10px;
    }
    .tile_welcome__text{
        @extend .section-text;
        font-size: 16.67px;
        font-weight: 500;
    }
    .tile_welcome__button{
        @extend .section-button;
    }
    &.tile_welcome--lg-up{
        @include lg-screen-up {
            padding-top: 35px;
            text-align: left;
            //height: 340px;
        }
    }
    .tile_welcome__image{
        margin: -14px auto;
        z-index: 2;
        text-align: center;
    }
}

.tile_interior{
    @extend .section-basics;
    .tile_interior__image{
        margin: -14px;
        z-index: 1;
        text-align: right;
    }
    .tile_interior__header{
        padding: 10px;
    }
}

.tile_appointment {
    text-align: center;
    padding: 35px 0;
    .tile_appointment__button{
        @extend .custom-button;
        font-weight: bold;
        font-size: 1.15em;
        font-weight: 700;
        line-height: 40px;
        padding-top: 13px;
        height: 68px;
        width: 300px;
    }
    &{
        @include md-screen-up{
            padding-bottom: 0px;
        }
    } 
}

.tile_services{
    z-index:1;
    @extend .section-basics;
    &.tile_services--lg-up{
        @include lg-screen-up {
            height: 680px;
        }
    }
    .tile_services__heading{
        text-align: center;
        @extend .section-heading;
    }
    .tile_services__text{
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-height: 305px;
        li{
            padding: 3px 0;
            margin: 0;
        }
    }
    .tile_services__picture{
        margin-bottom: -11px;
        bottom: 0;
        left:0;
        right: 0;
    }
}

.tile_new_clients{
    @extend .section-basics;
    &.tile_new_clients--lg-up{
        @include lg-screen-up {
        text-align: left;
        //height: 340px;
        }
    }
    .tile_new_clients__heading{
        @extend .section-heading;
    }
    .tile_new_clients__text{
        @extend .section-text;
    }
    .tile_new_clients__button{
        @extend .section-button;
    }
}

.tile_wellness_care{
    @extend .section-basics;
    &.tile_wellness_care--lg-up{
        @include lg-screen-up {
        text-align: left;
        //height: 340px;
        }
    }
    .tile_wellness_care__heading{
        @extend .section-heading;
    }
    .tile_wellness_care__text{
        @extend .section-text;
    }
    .tile_wellness_care__button{
        @extend .section-button;
    }
}

.tile_diagnostic{
    @extend .section-basics;
    & .tile_diagnostic--lg-up{
        @include lg-screen-up {
        text-align: left;
        }
    }
    .tile_diagnostic__heading{
        @extend .section-heading;
    }
    .tile_diagnostic__text{
        @extend .section-text;
    }
    .tile_diagnostic__button{
        @extend .section-button;
    }
}
.meet_team{
    svg{
        position: absolute;
        top: 0;
        left:0;
    }
    .meet_team__inner{
        @extend .section-basics;
        z-index: 1;
        padding-bottom:0px;
        &{
            @include sm-screen-up{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: left;
            }
        } 
        .meet_team__heading{
            @extend .section-heading;
        }
        .meet_team__text{
            @extend .section-text;
        }
        .meet_team__button{
            @extend .section-button;
        }
        .meet_team__slider{
            .meet_team__slider_slide{
                text-align: center;
                .meet_team__slider_name{
                    font-weight: 700;
                    display:block;
                }
            }
        }
        .slider_left{
            position: absolute;
            top: 50%;
            left: 0;
        }
        .slider_right{
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
}

.testimonials{
    @extend .section-basics;
    padding: 0!important;
    .testimonials__heading{
        @extend .section-heading;
        text-align: center; 
    }
    .testimonials__slider{
        .testimonials__slider__slide{
            text-align: center;
            .testimonials__slider__slide_inner{
                width: 310px;
                min-height: 400px;
                margin: 0 auto;
                border-radius: 15px;
            }
        }
    }
    > svg{
        display: block;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.petdesk{
    @extend .section-basics;
    .petdesk__heading{
        @extend .section-heading;
        text-align: center;
        &{
            @include lg-screen-up{
                text-align: left;
            }
        }
    }
    .petdesk__image{
        width: 246px;
    }
    .petdesk__text{
        @extend .section-text;
        text-align: left;
        padding: 20px 0 5px;
        &{
            @include lg-screen-up{
                padding-top:0;
            }
        }
    }
    .petdesk__app_store{
        width: 186px;
    }
    .petdesk__google_play{
        width: 212px;
    }
}

.online_store{
    @extend .section-basics;
    .online_store__heading{
        @extend .section-heading;
        text-align: center;
        margin-top: 20px;
        &{
            @include lg-screen-up{
                text-align: left;
                margin-top: 0;
            }
        }
    }
    .online_store__image{
        width: 220px;
    }
    .online_store__details{
        text-align: center;
        &{
            @include lg-screen-up{
                text-align: center;
            }
        }
    }
    .online_store__text{
        @extend .section-text;
        &{
            @include lg-screen-up{
                padding-top:0;
            }
        }
    }
    .online_store__button{
        @extend .section-button;
    }
}

.related_hospitals{
    @extend .section-basics;
    .related_hospitals__heading{
        @extend .section-heading;
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
        line-height: normal;
        &{
            @include lg-screen-up{
                
                margin-top: 0;
            }
        }
    }
    .related_hospitals__image{
        width: 220px;
    }
    .related_hospitals__details{
        text-align: center;
        &{
            @include lg-screen-up{
                text-align: center;
            }
        }
    }
    .related_hospitals__text{
        @extend .section-text;
        text-align: center;
        &{
            @include lg-screen-up{
                padding-top:0;
            }
        }
    }
    .related_hospitals__button{
        @extend .section-button;
    }
}

.location_map{
    @extend .section-basics;
    .location_map__heading{
        @extend .section-heading;
    }
    .location_map__text{
        @extend .section-text;
        a {text-decoration:underline;}
    }
    .location_map__button{
        @extend .section-button;
    }
    .location_map__hours{
        @extend .section-text;
        list-style-type: none;
        text-align: left;
        padding-left:0;
    }
    .location_map__map > iframe{
        max-width: 100%;
    }
}

.hours_button{
    @extend .custom-button;
    font-weight: bold;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    .hours_button__header{
        margin: 0;
        font-size: 1rem;
    }
    .hours_button__text{
        margin: 0;
    }
}
.popover-body{
    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
}

.interior_intro{
    @extend .section-basics;
    text-align: left;
    &{
        @include md-screen{
            margin-top:80px;
        }
    }
    .interior_intro__header{
        @extend .section-heading;
        font-size: 40px;
    }
    .interior_intro__text{
        @extend .section-text;
    }
}

.interior_tile{
    @extend .section-basics;
    padding: 0 0 50px 0;
    .interior_tile__navigation{
        @extend .section-basics;     
        box-shadow: 3px 0px 4px 0 rgba(0,0,0,.2), 6px 0px 20px 0 rgba(0,0,0,.19);
        .list-group-item{
            background-color: unset;
            border-color: $white;
            border-left:unset;
            border-right:unset;
            &:first-child, &:last-child{
                border-radius: unset;
                border-top:unset;
            }
        }   
        
    }
    .interior_tile__body{
        @extend .section-text;
        box-shadow: 3px 0px 4px 0 rgba(0,0,0,.2), 6px 0px 20px 0 rgba(0,0,0,.19);
        background-color: $white;
        margin-bottom:0;
        .interior_tile__section{
            margin-bottom: 2rem;
        }
        a {text-decoration:underline;}
        form {text-align: left;}  
    }
    svg{
        display: block;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        position: absolute;
        top: 0;
        left: 0;
    }
    .interior_tile__button{
        @extend .section-button;
        margin: 5px 10px;
    }
    .interior_tile__link{
        @extend .section-link;
    }
}

.page-footer{
    .footer-content{
        @extend .section-basics;
        text-align: center;
        .footer-content__image{
            display: block;
            margin: 0 auto 40px auto;
        }
        .footer-content__button{
            @extend .section-button;
            display: inline-block;
            margin: 5px;
            padding-left: 20px;
            padding-right: 20px;
            &--left{
                margin: 0 10px 0 0;
            }
        }
        .footer-content__address{
            @extend .foot-text-content;
            text-align: center;
            margin-top: 40px;
        }
        .footer-content__phone{
            @extend .foot-text-content;
            text-align: center;
        }
        .footer-content__heading_hours{
            @extend .foot-text-content;
            text-align: center;
            text-decoration: underline;
            color: white;
        }
        .footer-content__hours{
            @extend .foot-text-content;
            display: inline-block;
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
            .footer-content__hours__li{
                text-align: left;
                display: block;
            }
            .footer-content__hours__li__day{
                display: inline-block;
                width: 65px;
            }
            .footer-content__hours__li__time{
                display: inline-block;
                padding-left: 40px;
            }
        }
    }
    .footer-last{
        .footer-last__icons{
            list-style-type: none;
            padding: 0;
            margin: 0;
            .footer-last__icons__li{
                text-align: center;
                height: 80px;
                padding: 0;
                margin: 0;
                .fas,.far{
                    display: block;
                    margin: 13px 0 5px 0;
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-sitemap{
    color: $white;
    font-size: 16px;
    text-align: left;
    columns: 2;  
    a{
        color: $white;
    } 
    .footer-sitemap__header{
        text-decoration: underline;
        font-weight: 700;
        padding-top: 10px;
        a{
            padding-left:0;
        }  
        a:hover{
            color:$white;
        }
    }
    .footer-sitemap__links{
        padding-left: 0;
        display: inline-block;
    }
    .footer-sitemap__links  a:hover{
        color: $white;
    }
    .footer-sitemap__links li{
        list-style-type: none;
    }
}
.mobile-footer {
    transition: transform 0.4s;
  }
   
  .scroll-down .mobile-footer {
    transform: translate3d(0, 100%, 0);
  }
   
  .scroll-up .mobile-footer {
    transform: none;
  }

  .covidPop__list{
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    li{
        list-style-type: none;
    }
    .fa-times{
        color: #B22222;
    }
    .fa-check{
        color: #228B22;
    }
  }
  .covidPop__button{
    @extend .section-button;
  }