/* _mixins.scss */

// Standard Screen Breaks
@mixin xs-screen {
    @media (max-width: 575.98px) { @content; }
  }
  @mixin sm-screen {
    @media (min-width: 576px) and (max-width: 767.98px) { @content; }
  }
  @mixin md-screen {
    @media (min-width: 768px) and (max-width: 991.98px) { @content; }
  }
  @mixin lg-screen {
    @media (min-width: 992px) and (max-width: 1199.98px) { @content; }
  }
  @mixin xl-screen {
    @media (min-width: 1200px) { @content; }
  }

  @mixin xs-screen-up {
    @media (max-width: 575.98px) { @content; }
  }
  @mixin sm-screen-up {
    @media (min-width: 576px) { @content; }
  }
  @mixin md-screen-up {
    @media (min-width: 768px) { @content; }
  }
  @mixin lg-screen-up {
    @media (min-width: 992px) { @content; }
  }
  @mixin xl-screen-up {
    @media (min-width: 1200px) { @content; }
  }

  @mixin sm-screen-down {
    @media (max-width: 767.98px) { @content; }
  }
  @mixin md-screen-down {
    @media (max-width: 991.98px) { @content; }
  }
  @mixin lg-screen-down {
    @media (max-width: 1199.98px) { @content; }
  }

  @mixin outline {
    &:focus { outline: none; box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);}
  }
  // Example Usage
  // @include xs-screen { }
  // @include sm-screen { }
  // @include md-screen { }
  // @include lg-screen { }
  // @include xl-screen { }