
/* Colors */
/* Hospital: All Creatures */

$hospital-dark: #351143;  //background with white text
$hospital-light: #e0ceeb; //background with white or hospital-dark text
$white: #FFFFFF; 
$hospital-medium: #e0ceeb; //top bar button background with white text
$hospital-contrast: #f5a10D; //background with dark text

/* Text colors */
$hospital-dark-text: $white;
$hospital-light-text: $hospital-dark;
$hospital-medium-text: $hospital-dark;
$hospital-contrast-text: $hospital-dark;

/* Variables */
$bg-childtheme: $hospital-dark;
$top-nav-button-background-active: $hospital-light;
$top-nav-button-background-inactive: $hospital-medium;
$top-nav-button-active: $hospital-dark;
$top-nav-button-inactive: $white;

