$button-font-size: 1.25rem;

// Main
body {font-family: $body-font;}
a{color: $hospital-dark;}
a:hover, a:active, a:focus {color: $hospital-dark;}
h1, h2, h3, h4, h5, h6{font-family:$heading-font;}

// Header

.bg-childtheme{
    background-color: $bg-childtheme;
}

/* Header */

.top-navbar{
    // padding-top: 0;
    // padding-bottom: 0;
    li.nav-item{
        background: $top-nav-button-background-inactive;
        color: $top-nav-button-inactive;
        &:focus,&:hover{
            background: $top-nav-button-background-active;
            color: $hospital-light-text;
        }
        &.nav-item__location{
            a.nav-link{
            color: $hospital-dark-text;
            }
        }
    }
    li.nav-item__location{
        background: $top-nav-button-active;
        color: $hospital-dark-text !important;
    }
    li.nav-item a.nav-link{
        // padding-top: 16px;
        // padding-right: 24px;
        // padding-left: 24px;
        font-family: $body-font;
        color: $hospital-light-text;
        // font-size: 16.67px;
        // line-height: 19.17px;
        // text-transform: uppercase;
        // text-align: center;
        // display: block;
        // height: 65px;
    }
}

.navbar-main{
    li.nav-item .nav-link{
        font-family: $heading-font;
        text-transform: uppercase;
        color: $hospital-dark;
    }
}

.slideshow-slide{
    &-overlay{
        &__heading{
            font-family: $body-font;
            color: $hospital-dark;
        }
        &__button{
            font-family: $heading-font;
            background-color: $hospital-dark;
            border-color: $hospital-dark;
            color: $top-nav-button-inactive;
            font-size: $button-font-size;
            &:focus,&:hover{
                background: $top-nav-button-background-active;
                border-color: $top-nav-button-background-active;
                color: $top-nav-button-active;
            }
        }
    }
}


.tile_welcome{
    .tile_welcome__heading{
        font-family: $heading-font;
        color: $hospital-dark;

    }
    .tile_welcome__text{
     font-family: $body-font;
    }
    .tile_welcome__button{
        font-family: $heading-font;
        background-color: $hospital-dark;
        border-color: $hospital-dark;
        color: $white;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $top-nav-button-background-active;
            border-color: $top-nav-button-background-active;
            color: $hospital-light-text;
        }   
    }
}

.tile_appointment {
    background: $hospital-light;
    color: $hospital-light-text;
    .tile_appointment__button{
        font-family: $heading-font;
        background-color: $hospital-dark;
        color: $top-nav-button-inactive;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $white;
            color: $hospital-dark;
        }  
    }
}

.tile_services{
    background: $hospital-dark;
    color: $hospital-dark-text;
    .tile_services__heading{
        font-family: $heading-font;
        color: $hospital-light;
    }
    .tile_services__text{
        font-family: $body-font;
        color: $white;
        ul,li{
            color: $white;
        }
    }
}

.tile_new_clients{
    background: $hospital-light;
    .tile_new_clients__heading{
        font-family: $heading-font;
        color: $hospital-light-text;
    }
    .tile_new_clients__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    .tile_new_clients__button{
        font-family: $heading-font;
        background-color: $white;
        color: $hospital-dark;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-dark;
            color: $hospital-dark-text;
        }
    }
}

.tile_wellness_care{
    background: $hospital-dark;
    color: $hospital-dark-text;
    .tile_wellness_care__heading{
        font-family: $heading-font;
        color: $hospital-dark-text;
    }
    .tile_wellness_care__text{
        font-family: $body-font;
        color: $white;
    }
    .tile_wellness_care__button{
        font-family: $heading-font;
        background-color: $white;
        color: $hospital-dark;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-light;
            color: $hospital-light-text;
        }
    }
}

.tile_diagnostic{
    background: $hospital-contrast;
    color: $hospital-contrast-text;
    .tile_diagnostic__heading{
        font-family: $heading-font;
        color: $hospital-dark;
    }
    .tile_diagnostic__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    .tile_diagnostic__button{
        font-family: $heading-font;
        background-color: $white;
        color: $hospital-dark;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-dark;
            color: $hospital-dark-text;
        }
    }
}
.meet_team{
    background: $hospital-dark;
    color: $hospital-light-text;
    .meet_team__inner{
        background: $white;
        .meet_team__heading{
            font-family: $heading-font;
            color: $hospital-dark;
        }
        .meet_team__text{
            font-family: $body-font;
            color: $hospital-dark;
        }
        .meet_team__button{
            font-family: $heading-font;
            background-color: $hospital-dark;
            color: $top-nav-button-inactive;
            font-size: $button-font-size;
            &:focus,&:hover,&:active{
                background: $hospital-light;
                color: $hospital-light-text;
            }  
        }
    }
}
.testimonials{
    background-color: $hospital-dark;
    .testimonials__heading{
        font-family: $heading-font;
        color: $hospital-light;
    }
    .testimonials__slider{
        .testimonials__slider__slide{
            .testimonials__slider__slide_inner{
                background: $hospital-light;
                color: $hospital-light-text;
            }
        }
    }
}

.image_badges{
    background-color: $hospital-dark;
}

.location_map{
    .location_map__heading{
        font-family: $heading-font;
        color: $hospital-dark;
    }
    .location_map__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    .location_map__hours{
        font-family: $body-font;
        color: $hospital-dark;
    }
}

.petdesk{
    background-color: $hospital-light;
    .petdesk__heading{
        font-family: $heading-font;
        color: $hospital-light-text;
    }
    // .petdesk__image{
    // }
    .petdesk__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    // .petdesk__app_store{
    // }
    // .petdesk__google_play{
    // }
}

.online_store{
    background: $hospital-contrast;
    color: $hospital-contrast-text;
    .online_store__heading{
        font-family: $heading-font;
        color: $hospital-dark;
    }
    .online_store__image{
        width: 220px;
    }
    .online_store__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    .online_store__button{
        font-family: $heading-font;
        background-color: $white;
        color: $hospital-dark;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-dark;
            color: $hospital-dark-text;
        }
    }
}

.related_hospitals{
    background: $hospital-contrast;
    color: $hospital-contrast-text;
    .related_hospitals__heading{
        font-family: $heading-font;
        color: $hospital-dark;
    }
    .related_hospitals__image{
        width: 220px;
    }
    .related_hospitals__text{
        font-family: $body-font;
        color: $hospital-dark;
    }
    .related_hospitals__button{
        font-family: $heading-font;
        background-color: $white;
        color: $hospital-dark;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-dark;
            color: $hospital-dark-text;
        }
    }
}

.hours_button{
    font-family: $heading-font;
    background-color: $hospital-dark;
    color: $top-nav-button-inactive;
    font-size: $button-font-size;
    .hours_button__header{
        font-size: $button-font-size;
    }
    &:focus,&:hover,&:active{
        background: $hospital-light;
        color: $hospital-light-text;
    }  
    .hours_button__text{
        font-family: $body-font;
    }
}

.popover-header{
    background-color: $hospital-light;
    color: $hospital-light-text;
    font-family: $heading-font;
}
.popover-body{
    font-family: $body-font;
}

.interior_intro{
    font-family: $body-font;
    .interior_intro__header{
        font-family: $heading-font;
        color: $hospital-dark;
    }
}
.tile_interior{
    .tile_interior__header{
        background-color: $hospital-medium;
        color: $hospital-medium-text;
    }
}
.interior_tile{
    background-color: $hospital-dark;
    .interior_tile__navigation{
        background-color: $hospital-light;
        .interior_tile__list{
            font-family: $heading-font;
            color: $hospital-light-text;
        
            .list-group-item{
                color: $hospital-light-text;
                &:active, &:focus, &:hover, &.active{
                    background-color: $hospital-dark;
                    color: $white;
                }
            }
        }
    }
    .interior_tile__body{
        h2{
            color: $hospital-dark;
        }
    }
    .interior_tile__button{

        font-family: $heading-font;
        background-color: $hospital-dark;
        border-color: $hospital-dark;
        color: $hospital-dark-text;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $hospital-light;
            border-color: $top-nav-button-background-active;
            color: $hospital-light-text;
        }   
    }
}
.page-footer{
    background-color: $hospital-dark;
    .footer-content{
        .footer-content__button{
            font-family: $heading-font;
            background-color: $hospital-dark-text;
            color: $hospital-dark;
            font-size: $button-font-size;
            &:focus,&:hover,&:active{
                background: $hospital-light;
                color: $hospital-light-text;
            }
        }
        .footer-content__address{
            color: $hospital-light;
        }
        .footer-content__phone{
            color: $hospital-light;
        }
        .footer-content__icons{
            .footer-content__icons__icon{
                color: $hospital-light;
                a{
                    color: $hospital-light;
                };
            }
        }
        .footer-content__address{
            color: $hospital-light;
        }
        .footer-content__hours{
            
            .footer-content__hours__li__day{
                color: $hospital-light;
            }
            .footer-content__hours__li__time{
                color: $hospital-light;
            }
        }
    }
     .footer-last{
        .footer-last__icons{
            list-style-type: none;
            color: $white;
            .footer-last__icons__li{
                text-align: center;
                height: 80px;
                background: $hospital-light;
                color: $hospital-light-text;
                display: block;
                &:focus,&:hover,&:active{
                    background: $hospital-medium;
                    color: $hospital-medium-text;
                }
                .footer-last__icons__li__link{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.covidPop__button{
    font-family: $heading-font;
        background-color: $hospital-dark;
        border-color: $hospital-dark;
        color: $white;
        font-size: $button-font-size;
        &:focus,&:hover,&:active{
            background: $top-nav-button-background-active;
            border-color: $top-nav-button-background-active;
            color: $hospital-light-text;
        }  
}